@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import "variables";
@import "blocks/pages/loading";
@import "blocks/pages/login";
@import "blocks/components/inputs/input_string";
@import "blocks/components/buttons/button";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $bg;
}

.parent_center{
    display: flex;
    justify-content: center;
    align-items: center;
}