.login {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__logo {
        width: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;

        &-img {
            width: 65px;
            height: 65px;
        }

        &-title {
            font-family: Rubik;
            font-weight: bold;
            color: $primary-color;
            font-size: 48px;
        }
    }

    &__inputs {
        display: flex;
        flex-direction: column;
        gap: 24px;
        margin-top: 48px;
        margin-bottom: 24px;
    }

    &__buttons {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
}