.input_string {
    position: relative;
    font-family: 'Rubik';
    font-weight: 600;

    &__input{
        outline: 0;
        border: 0;
        border-style: solid;
    }

    &__placeholder {
        position: absolute;
        font-family: 'Rubik';
        font-weight: 600;
    }
}